In [1]:
# Dependencies
import pandas as pd
import numpy as np
from pathlib import Path
import requests

In [2]:
# Importing data file
file_path = Path('top10s.csv')
top_songs_df = pd.read_csv(file_path, encoding = "ISO-8859-1")
top_songs_df.head()

,Unnamed: 0,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,1,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,2,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,3,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,4,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,5,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78

In [3]:
# Refining the dataset
top_songs_df = top_songs_df[['title', 'artist', 'year', 'top genre', 'pop']]
top_songs_df.sample(10)

,title,artist,year,top genre,pop
382,Starving,Hailee Steinfeld,2016,dance pop,78
253,XO,Beyoncé,2014,dance pop,56
125,Domino,Jessie J,2012,australian pop,69
481,24K Magic,Bruno Mars,2017,pop,69
178,A Little Party Never Killed Nobody (All We Got),Fergie,2013,dance pop,65
475,The Cure,Lady Gaga,2017,dance pop,71
466,Mama,Jonas Blue,2017,dance pop,75
93,Written in the Stars (feat. Eric Turner),Tinie Tempah,2011,dance pop,52
293,Elastic Heart,Sia,2015,australian dance,73
428,Make Me Like You,Gwen Stefani,2016,dance pop,50

In [4]:
# Setting up lyric DataFrame
lyric_df = top_songs_df[['title', 'artist']]
lyric_df['lyrics'] = ''
lyric_df.head()

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

                  title      artist lyrics
0      Hey, Soul Sister       Train
1  Love The Way You Lie      Eminem
2               TiK ToK       Kesha
3           Bad Romance   Lady Gaga
4  Just the Way You Are  Bruno Mars

In [6]:
# Defining a function to obtain lyric data
def get_lyrics(df):
    url = "http://api.chartlyrics.com/apiv1.asmx/SearchLyricDirect?"

    print("Beginning Data Retrieval     ")
    print("-----------------------------")

    record_count = 1
    set_count = 1

    for index, row in lyric_df.iterrows():
        
        song_url = url + (f"artist={row['artist']}&song={row['title']}")
        
        print(f"Processing Record {record_count} | {row['title']}")
        
        record_count += 1

        while index <= 5:   
            try:
                r = requests.get(song_url)
                root = ET.fromstring(r.content)
                lyric = root[-1].text
                
                lyric_df.loc[index, 'lyrics'] = lyric
            
            except:
                print("Song not found. Skipping")
                pass

    print("-----------------------------")
    print("Data Retrieval Complete      ")
    print("-----------------------------")

In [ ]:
# Getting lyric data
get_lyrics(lyric_df)

Beginning Data Retrieval
-----------------------------
Processing Record 1 | Hey, Soul Sister

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [ ]:
# Checking lyric DataFrame
lyric_df.head(20)

In [ ]:
# Exporting lyric data
# lyric_df.to_csv('lyric_data.csv')