In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
file_path = Path('data/lyric_data_clean.csv')
df = pd.read_csv(file_path)
df.head()

,Unnamed: 0,title,artist,lyrics
0,0,"Hey, Soul Sister",Train,heeeeey heeeeey your lipstick stains on the f...
1,1,Love The Way You Lie,Eminem,well thats all right because i like the way it...
2,2,TiK ToK,Kesha,grab my glasses im out the door im gonna hit t...
3,3,Bad Romance,Lady Gaga,caught in a bad romance ohohohohoh ohohohoh oh...
4,4,Just the Way You Are,Bruno Mars,ohohohoh ohohoh oh her eyes her eyes make the...

In [3]:
df['total_words'] = df['lyrics'].apply(lambda n: len(n.split()))

df.head()

,Unnamed: 0,title,artist,lyrics,total_words
0,0,"Hey, Soul Sister",Train,heeeeey heeeeey your lipstick stains on the f...,294
1,1,Love The Way You Lie,Eminem,well thats all right because i like the way it...,732
2,2,TiK ToK,Kesha,grab my glasses im out the door im gonna hit t...,465
3,3,Bad Romance,Lady Gaga,caught in a bad romance ohohohohoh ohohohoh oh...,521
4,4,Just the Way You Are,Bruno Mars,ohohohoh ohohoh oh her eyes her eyes make the...,324

In [4]:
# curse_words = ['shit']

# df['total_bad_words'] = df.loc[df['lyrics'].isin(curse_words),'lyrics'].value_counts()

# df.head(20)

In [5]:
# curse_words = ['nigga', 'shit', 'fuckin', 'bitch', 'ass', 'sex']

# def get_count_dict(data, selected_words):

#     count_dict = {}

#     df['total_bad_words'] = df.loc[df['lyrics'].str.contains('|'.join(curse_words)),'lyrics'].value_counts()

#     for i in range(len(counts.index.tolist())):
#         count_dict[counts.index.tolist()[i]] = counts[i]

#     return count_dict

# get_count_dict(df, curse_words)

In [6]:
# df.head(10)

In [7]:
# def curse_count(data, curse):
    
#     p = '('+ curse +')'
    
#     word_count_df = df['lyrics'].str.extractall(p)
    
#     return word_count_df[2].value_counts()

In [8]:
# curse_words = ['nigga', 'shit', 'fuckin', 'bitch', 'ass', 'sex']

# curse_count(df['lyrics'], "fuck")

In [9]:
# curse_words = ['nigga', 'shit', 'fuckin', 'bitch', 'ass', 'sex']

# words_df = df.groupby(['lyrics']).size()

In [10]:
# display(words_df)

In [11]:
# df['lyrics'].value_counts()

In [13]:
from collections import Counter

curse_words = ['nigga', 'shit', 'fuckin', 'bitch', 'ass', 'sex']

df["bad_words"] = (
    df['lyrics'].str.split()
    .apply(Counter)
    .apply(lambda counts: (sum(word in counts for word in curse_words))
)

SyntaxError: unexpected EOF while parsing (2023051557.py, line 10)

In [14]:
df.head(20)

,Unnamed: 0,title,artist,lyrics,total_words
0,0,"Hey, Soul Sister",Train,heeeeey heeeeey your lipstick stains on the f...,294
1,1,Love The Way You Lie,Eminem,well thats all right because i like the way it...,732
2,2,TiK ToK,Kesha,grab my glasses im out the door im gonna hit t...,465
3,3,Bad Romance,Lady Gaga,caught in a bad romance ohohohohoh ohohohoh oh...,521
4,4,Just the Way You Are,Bruno Mars,ohohohoh ohohoh oh her eyes her eyes make the...,324
5,5,Baby,Justin Bieber,oh woahohohoh oh oh woah ohohoh oh ohoh oh oho...,442
6,6,Dynamite,Taio Cruz,i hit the floor cause thats my plans plans pla...,371
7,7,Secrets,OneRepublic,something to get off my chest my life gets kin...,347
8,8,Empire State of Mind (Part II) Broken Down,Alicia Keys,ooooh new york grew up in a town that is famo...,297
9,9,Only Girl (In The World),Rihanna,lalalala lalalala uh yeah lalalala i want you...,400
10,10,Club Can't Handle Me (feat. David Guetta),Flo Rida,to make em stop and stare as i zone out the cl...,594
11,11,Marry You,Bruno Mars,were looking for something dumb to do hey baby...,342
12,12,Cooler Than Me - Single Mix,Mike Posner,i would already have you up under my arm i use...,404
13,13,Telephone,Lady Gaga,i have got no service in the club you say say ...,669
14,14,Like A G6,Far East Movement,when we drink we do it right gettin slizard si...,487
15,15,OMG (feat. will.i.am),Usher,adele rolling in the deep black eyed peas bo...,860
16,16,Eenie Meenie,Sean Kingston,catch a bad chick by her toe if she holla let ...,442
17,17,The Time (Dirty Bit),The Black Eyed Peas,big mega radio smasher ive had the time of my...,488
18,18,Alejandro,Lady Gaga,but i just cant be with you like this anymore ...,357
19,19,Your Love Is My Drug,Kesha,or maybe just need some sleep i got a sick obs...,380