In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
file_path = Path('data/lyric_data_clean.csv')
df = pd.read_csv(file_path)
df.head()

,Unnamed: 0,title,artist,lyrics
0,0,"Hey, Soul Sister",Train,heeeeey heeeeey your lipstick stains on the f...
1,1,Love The Way You Lie,Eminem,well thats all right because i like the way it...
2,2,TiK ToK,Kesha,grab my glasses im out the door im gonna hit t...
3,3,Bad Romance,Lady Gaga,caught in a bad romance ohohohohoh ohohohoh oh...
4,4,Just the Way You Are,Bruno Mars,ohohohoh ohohoh oh her eyes her eyes make the...

In [3]:
#Count total words
df['total_words'] = df['lyrics'].apply(lambda n: len(n.split()))

df.head()

,Unnamed: 0,title,artist,lyrics,total_words
0,0,"Hey, Soul Sister",Train,heeeeey heeeeey your lipstick stains on the f...,294
1,1,Love The Way You Lie,Eminem,well thats all right because i like the way it...,732
2,2,TiK ToK,Kesha,grab my glasses im out the door im gonna hit t...,465
3,3,Bad Romance,Lady Gaga,caught in a bad romance ohohohohoh ohohohoh oh...,521
4,4,Just the Way You Are,Bruno Mars,ohohohoh ohohoh oh her eyes her eyes make the...,324

In [4]:
#Count curse words

df['ni'] = df['lyrics'].str.count('nigga')
df['shit'] = df['lyrics'].str.count('shit')
df['fuc'] = df['lyrics'].str.count('fuckin')
df['bit'] = df['lyrics'].str.count('bitch')
df['ass'] = df['lyrics'].str.count('ass')
df['sex'] = df['lyrics'].str.count('sex')
df['fu'] = df['lyrics'].str.count('fuck')
df['nigs'] = df['lyrics'].str.count('niggas')
df['fuing'] = df['lyrics'].str.count('fucking')
df['niz'] = df['lyrics'].str.count('niggaz')
df['bs'] = df['lyrics'].str.count('bitches')

In [5]:
df.head()

,Unnamed: 0,title,artist,lyrics,total_words,ni,shit,fuc,bit,ass,sex,fu,nigs,fuing,niz,bs
0,0,"Hey, Soul Sister",Train,heeeeey heeeeey your lipstick stains on the f...,294,0,0,0,0,0,0,0,0,0,0,0
1,1,Love The Way You Lie,Eminem,well thats all right because i like the way it...,732,0,0,3,0,0,0,3,0,0,0,0
2,2,TiK ToK,Kesha,grab my glasses im out the door im gonna hit t...,465,0,0,0,0,1,0,0,0,0,0,0
3,3,Bad Romance,Lady Gaga,caught in a bad romance ohohohohoh ohohohoh oh...,521,0,0,0,5,1,0,0,0,0,0,0
4,4,Just the Way You Are,Bruno Mars,ohohohoh ohohoh oh her eyes her eyes make the...,324,0,0,0,0,0,1,0,0,0,0,0

In [6]:
#Add all curse words together

df['total_bad_words'] = df['fuc'] + df['bit'] + df['ni'] + df['shit'] + df['ass'] + df['sex'] +df['fu'] + df['nigs'] + df['fuing'] + df['niz'] +df['bs']

In [7]:
df.head()

,Unnamed: 0,title,artist,lyrics,total_words,ni,shit,fuc,bit,ass,sex,fu,nigs,fuing,niz,bs,total_bad_words
0,0,"Hey, Soul Sister",Train,heeeeey heeeeey your lipstick stains on the f...,294,0,0,0,0,0,0,0,0,0,0,0,0
1,1,Love The Way You Lie,Eminem,well thats all right because i like the way it...,732,0,0,3,0,0,0,3,0,0,0,0,6
2,2,TiK ToK,Kesha,grab my glasses im out the door im gonna hit t...,465,0,0,0,0,1,0,0,0,0,0,0,1
3,3,Bad Romance,Lady Gaga,caught in a bad romance ohohohohoh ohohohoh oh...,521,0,0,0,5,1,0,0,0,0,0,0,6
4,4,Just the Way You Are,Bruno Mars,ohohohoh ohohoh oh her eyes her eyes make the...,324,0,0,0,0,0,1,0,0,0,0,0,1

In [8]:
df['perc_bad_words'] = (df['total_words']/df['total_bad_words'])*100

In [9]:
df.head()

,Unnamed: 0,title,artist,lyrics,total_words,ni,shit,fuc,bit,ass,sex,fu,nigs,fuing,niz,bs,total_bad_words,perc_bad_words
0,0,"Hey, Soul Sister",Train,heeeeey heeeeey your lipstick stains on the f...,294,0,0,0,0,0,0,0,0,0,0,0,0,inf
1,1,Love The Way You Lie,Eminem,well thats all right because i like the way it...,732,0,0,3,0,0,0,3,0,0,0,0,6,1.220000e+04
2,2,TiK ToK,Kesha,grab my glasses im out the door im gonna hit t...,465,0,0,0,0,1,0,0,0,0,0,0,1,4.650000e+04
3,3,Bad Romance,Lady Gaga,caught in a bad romance ohohohohoh ohohohoh oh...,521,0,0,0,5,1,0,0,0,0,0,0,6,8.683333e+03
4,4,Just the Way You Are,Bruno Mars,ohohohoh ohohoh oh her eyes her eyes make the...,324,0,0,0,0,0,1,0,0,0,0,0,1,3.240000e+04

In [ ]:
# df['perc_bad_words'].replace("inf","0", regex=True)

In [11]:
df = df[['title', 'artist', 'total_words', 'total_bad_words', 'perc_bad_words']]

df

,title,artist,total_words,total_bad_words,perc_bad_words
0,"Hey, Soul Sister",Train,294,0,inf
1,Love The Way You Lie,Eminem,732,6,1.220000e+04
2,TiK ToK,Kesha,465,1,4.650000e+04
3,Bad Romance,Lady Gaga,521,6,8.683333e+03
4,Just the Way You Are,Bruno Mars,324,1,3.240000e+04
...,...,...,...,...,...
583,Find U Again (feat. Camila Cabello),Mark Ronson,425,1,4.250000e+04
584,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,412,0,inf
585,"No Brainer (feat. Justin Bieber, Chance the Ra...",DJ Khaled,158,0,inf
586,Nothing Breaks Like a Heart (feat. Miley Cyrus),Mark Ronson,263,0,inf
587,Kills You Slowly,The Chainsmokers,410,2,2.050000e+04