In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
file_path = Path('data/lyric_data_clean.csv')
df = pd.read_csv(file_path)
df.head()

,Unnamed: 0,title,artist,lyrics
0,0,"Hey, Soul Sister",Train,hey he-e-e-e-ey he-e-e-e-ey your lipstick sta...
1,1,Love The Way You Lie,Eminem,just gonna stand there and watch me burn? well...
2,2,TiK ToK,Kesha,wake up in the morning feelin' like p. diddy (...
3,3,Bad Romance,Lady Gaga,"oh-oh-oh-oh-oh, oh-oh-oh-oh, oh-oh-oh caught i..."
4,4,Just the Way You Are,Bruno Mars,"oh, oh-oh-oh oh-oh-oh-oh oh-oh-oh oh, her eye..."

In [3]:
df['total_words'] = df['lyrics'].apply(lambda n: len(n.split()))

df.head()

,Unnamed: 0,title,artist,lyrics,total_words
0,0,"Hey, Soul Sister",Train,hey he-e-e-e-ey he-e-e-e-ey your lipstick sta...,295
1,1,Love The Way You Lie,Eminem,just gonna stand there and watch me burn? well...,740
2,2,TiK ToK,Kesha,wake up in the morning feelin' like p. diddy (...,478
3,3,Bad Romance,Lady Gaga,"oh-oh-oh-oh-oh, oh-oh-oh-oh, oh-oh-oh caught i...",524
4,4,Just the Way You Are,Bruno Mars,"oh, oh-oh-oh oh-oh-oh-oh oh-oh-oh oh, her eye...",326

In [19]:
# curse_words = ['damn', 'sex', 'ass']

# df['total_bad_words'] = df.loc[df['lyrics'].isin(curse_words),'lyrics'].value_counts()

# df.head(20)

In [ ]:
# def get_count_dict(data, selected_words):

#     count_dict = {}

# df['total_bad_words'] = df.loc[df['lyrics'].str.contains('|'.join(curse_words)),'lyrics'].value_counts()

#     for i in range(len(counts.index.tolist())):
#         count_dict[counts.index.tolist()[i]] = counts[i]

#     return count_dict

# curse_words = ['nigga', 'shit', 'fuckin', 'bitch', 'ass', 'sex']

# get_count_dict(df, curse_words)

In [ ]:
# df.head(10)

In [ ]:
# def curse_count(data, curse):
    
#     p = '('+ curse +')'
    
#     word_count_df = df['lyrics'].str.extractall(p)
    
#     return word_count_df[2].value_counts()

In [ ]:
# curse_words = ['nigga', 'shit', 'fuckin', 'bitch', 'ass', 'sex']

# curse_count(df['lyrics'], "fuck")

In [ ]:
# curse_words = ['nigga', 'shit', 'fuckin', 'bitch', 'ass', 'sex']

words_df = df.groupby(['lyrics']).size()

In [ ]:
display(words_df)