In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
file_path = Path('data/lyric_data_clean.csv')
df = pd.read_csv(file_path)
df.head()

,Unnamed: 0,title,artist,lyrics
0,0,"Hey, Soul Sister",Train,heeeeey heeeeey your lipstick stains on the f...
1,1,Love The Way You Lie,Eminem,well thats all right because i like the way it...
2,2,TiK ToK,Kesha,grab my glasses im out the door im gonna hit t...
3,3,Bad Romance,Lady Gaga,caught in a bad romance ohohohohoh ohohohoh oh...
4,4,Just the Way You Are,Bruno Mars,ohohohoh ohohoh oh her eyes her eyes make the...

In [3]:
df['total_words'] = df['lyrics'].apply(lambda n: len(n.split()))

df.head()

,Unnamed: 0,title,artist,lyrics,total_words
0,0,"Hey, Soul Sister",Train,heeeeey heeeeey your lipstick stains on the f...,294
1,1,Love The Way You Lie,Eminem,well thats all right because i like the way it...,732
2,2,TiK ToK,Kesha,grab my glasses im out the door im gonna hit t...,465
3,3,Bad Romance,Lady Gaga,caught in a bad romance ohohohohoh ohohohoh oh...,521
4,4,Just the Way You Are,Bruno Mars,ohohohoh ohohoh oh her eyes her eyes make the...,324

In [4]:
# curse_words = ['shit']

# df['total_bad_words'] = df.loc[df['lyrics'].isin(curse_words),'lyrics'].value_counts()

# df.head(20)

In [5]:
# curse_words = ['nigga', 'shit', 'fuckin', 'bitch', 'ass', 'sex']

# def get_count_dict(data, selected_words):

#     count_dict = {}

#     df['total_bad_words'] = df.loc[df['lyrics'].str.contains('|'.join(curse_words)),'lyrics'].value_counts()

#     for i in range(len(counts.index.tolist())):
#         count_dict[counts.index.tolist()[i]] = counts[i]

#     return count_dict

# get_count_dict(df, curse_words)

In [6]:
# df.head(10)

In [7]:
# def curse_count(data, curse):
    
#     p = '('+ curse +')'
    
#     word_count_df = df['lyrics'].str.extractall(p)
    
#     return word_count_df[2].value_counts()

In [8]:
# curse_words = ['nigga', 'shit', 'fuckin', 'bitch', 'ass', 'sex']

# curse_count(df['lyrics'], "fuck")

In [9]:
# curse_words = ['nigga', 'shit', 'fuckin', 'bitch', 'ass', 'sex']

# words_df = df.groupby(['lyrics']).size()

In [10]:
# display(words_df)

In [11]:
# df['lyrics'].value_counts()

In [12]:
# from collections import Counter

# curse_words = ['nigga', 'shit', 'fuckin', 'bitch', 'ass', 'sex']

# df["bad_words"] = (
#     df['lyrics'].str.split()
#     .apply(Counter)
#     .apply(lambda counts: (sum(word in counts for word in curse_words))
# )

In [13]:
# df.head(20)

In [14]:
df['ni'] = df['lyrics'].str.count('nigga')
df['shit'] = df['lyrics'].str.count('shit')
df['fuc'] = df['lyrics'].str.count('fuckin')
df['bit'] = df['lyrics'].str.count('bitch')
df['ass'] = df['lyrics'].str.count('ass')
df['sex'] = df['lyrics'].str.count('sex')

In [15]:
df.head()

,Unnamed: 0,title,artist,lyrics,total_words,ni,shit,fuc,bit,ass,sex
0,0,"Hey, Soul Sister",Train,heeeeey heeeeey your lipstick stains on the f...,294,0,0,0,0,0,0
1,1,Love The Way You Lie,Eminem,well thats all right because i like the way it...,732,0,0,3,0,0,0
2,2,TiK ToK,Kesha,grab my glasses im out the door im gonna hit t...,465,0,0,0,0,1,0
3,3,Bad Romance,Lady Gaga,caught in a bad romance ohohohohoh ohohohoh oh...,521,0,0,0,5,1,0
4,4,Just the Way You Are,Bruno Mars,ohohohoh ohohoh oh her eyes her eyes make the...,324,0,0,0,0,0,1

In [18]:
df['total_bad_words'] = df['fuc'] + df['bit'] + df['ni'] + df['shit'] + df['ass'] + df['sex']

In [19]:
df.head()

,Unnamed: 0,title,artist,lyrics,total_words,ni,shit,fuc,bit,ass,sex,total_bad_words
0,0,"Hey, Soul Sister",Train,heeeeey heeeeey your lipstick stains on the f...,294,0,0,0,0,0,0,0
1,1,Love The Way You Lie,Eminem,well thats all right because i like the way it...,732,0,0,3,0,0,0,3
2,2,TiK ToK,Kesha,grab my glasses im out the door im gonna hit t...,465,0,0,0,0,1,0,1
3,3,Bad Romance,Lady Gaga,caught in a bad romance ohohohohoh ohohohoh oh...,521,0,0,0,5,1,0,6
4,4,Just the Way You Are,Bruno Mars,ohohohoh ohohoh oh her eyes her eyes make the...,324,0,0,0,0,0,1,1