In [1]:
# Dependencies
import pandas as pd
from pathlib import Path

In [2]:
# Importing Top 10 data file
file_path = Path('data/top10s.csv')
top_songs_df = pd.read_csv(file_path, encoding = "ISO-8859-1")
top_songs_df.head()

,Unnamed: 0,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,1,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,2,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,3,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,4,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,5,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78

In [3]:
# Refining the dataset
top_songs_df = top_songs_df[['title', 'artist', 'year', 'top genre', 'pop']]
top_songs_df.head()

                  title      artist  year        top genre  pop
0      Hey, Soul Sister       Train  2010       neo mellow   83
1  Love The Way You Lie      Eminem  2010  detroit hip hop   82
2               TiK ToK       Kesha  2010        dance pop   80
3           Bad Romance   Lady Gaga  2010        dance pop   79
4  Just the Way You Are  Bruno Mars  2010              pop   78

In [4]:
# Checking count of rows containing NaN
top_songs_df.isnull().sum()

title        0
artist       0
year         0
top genre    0
pop          0
dtype: int64

In [5]:
top_songs_df = top_songs_df.drop_duplicates(['artist', 'title'])

top_songs_df

,title,artist,year,top genre,pop
0,"Hey, Soul Sister",Train,2010,neo mellow,83
1,Love The Way You Lie,Eminem,2010,detroit hip hop,82
2,TiK ToK,Kesha,2010,dance pop,80
3,Bad Romance,Lady Gaga,2010,dance pop,79
4,Just the Way You Are,Bruno Mars,2010,pop,78
...,...,...,...,...,...
598,Find U Again (feat. Camila Cabello),Mark Ronson,2019,dance pop,75
599,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,2019,pop,75
600,"No Brainer (feat. Justin Bieber, Chance the Ra...",DJ Khaled,2019,dance pop,70
601,Nothing Breaks Like a Heart (feat. Miley Cyrus),Mark Ronson,2019,dance pop,69
602,Kills You Slowly,The Chainsmokers,2019,electropop,67

In [7]:
#Exporting lyric data
top_songs_df.to_csv('data/popularity.csv', index=False)